@import "var";
@import "reset";
@import "general";




h1{
    font-size: 2.5rem;
    padding: 2rem;
    color: white;
}


.header{
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    background-color: white;
    border-top: 5px solid rgb(0,149,190);
    margin-bottom: 2rem;
    li{
        a{
            color: rgb(0,149,190);
            text-decoration: none;
            font-size: 1.8rem;
            font-family: $font;
            font-weight: 600;
        }
    }
}




.section-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 24.12rem);
    grid-gap: 1.18rem;
}

.item{
    border-top: 4px solid rgb(0,149,190);
    background-color: white;
    padding: 0.5rem;
    width:100%;
    border-radius: 8px;
    
    a{
        color: red;
        text-decoration: none;
    }
}

.item h2{
    padding-bottom: 0.5rem;
}
.item p{
    padding-bottom: 0.5rem;
    font-size:1rem;
    padding-right: 1rem;
}

.item1 p{
    padding-bottom: 2rem;
}

.item2{
    grid-row: span 3;
    p{
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}

.item4{
   grid-row: span 2;
}

.item3{
    padding: 0;
    a{
        display: block;
        background-color: rgb(252,46,27);
        color: white;
        padding: 0.7rem;
        margin-left: -0.5px;
    }
}

.item5{
    padding: 0;
    h2{
        background-color: rgb(0,149,190);
        padding: 0.5rem;
        border:none;
        margin-left: -0.5px;
        
    }
}

.item3 p{
    padding: 0.5rem;
    padding-bottom: 0.7rem;
}

.item3 h2{
    padding: 0.5rem;
}


.item5 p{
    padding: 0.5rem;
}

.item5 a{
    padding: 0.5rem;
}

.item2 figure{
    width: 250px;
    height: 250px;
    margin-left: 4rem;
    img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;

    }
}

.item4 {
    height:30vh;
    img{ width: 100px;
        height: 100px;
        object-fit: cover;
        margin-left: 6rem;
        margin-bottom: 1rem;}
    
}

.item4 a{
    display: block;
}
