@import "vars";
@import "reset";
@import "general";



/*header-section*/

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    position: relative;
    padding-top: 2rem;
    h1{
        font-size: 2rem;
        font-weight: 600;
        padding-left: 9rem;
    
    }
}

.nav-bar{
    margin-right: 13rem;
    li{
        margin-right:2rem;
        a{
            text-decoration: none;
            font-size: 0.9rem;
            color: grey;
        }
    }
}

.nav-bar .active{
    color:$tertiary;
}

.nav-bar li a:hover{
    color: $tertiary;
}

#toggle, .bars{
    display: none;
   }
/*hero-section*/

.hero-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: -4.2rem;
}

.hero-item-1{
    width: 100%;
    img{
        width:100%;
        height: 100vh;
        object-fit: cover;
    }
}

.hero-item-2{
    padding-top: 14rem;
    width: 100%;
    background-color: $primary;
    padding-left: 2rem;
    h3{
        font-size: 2.5rem;
        color: grey;
        padding: 0.8rem 0;
        line-height: 1.2;
        b{
            color: black;
        }
    }
}


.hero-item-2 h2{
    color: grey;
}

.hero-item-2 p{
    color: grey;
    padding-right: 2rem;
    line-height: 1.5;
    padding-bottom: 3rem;
}

.hero-item-2 a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    border: 3px solid black;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    
}

/*skills-section-container*/

.skills-container{
    display: grid;
    grid-template-columns: 50% 25%  25%;    
}

.skills-item1{
    width: 100%;
    padding-left: 2rem;
    padding-top: 4rem;
    background-color: $secondary;
    h2{
        font-size: 2rem;
        color: rgb(121, 100, 100);
    }
}

.skills-item1 h3{
    color: $tertiary;
    padding: 1rem 0;
    padding-bottom: 2rem;
}

.skills-item1 p{
    color: grey;
    line-height: 1.5rem;
    padding-right: 4rem;
    font-size: 1.1rem;
}

.skills-item2 {
    width: 100%;
    background-image: url(../media/about-img.jpg);
    height: 55vh;
    background-repeat: no-repeat;
    background-position: center 0.1rem;
    font: 0;
}

.skills-item3{
    background-color: $tertiary;
    padding-left: 2rem;
    padding-top: 4rem;
    padding-right: 2rem;
    h2{
        color: white;
        font-size: 2rem;
    }
}

.skills-item3 h3{
    color: white;
    padding: 1rem 0;
}


.skills-bar{
    padding-top: 4rem;
    .sb-container{
        background-color: white;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        .sb-container-sub{
            border: 2px solid black;
            background-color: black;
            width: 90%;
        }
    }
}

.skills-bar .sb-container .sb-container-sub-2{
    width: 70%;
}

.skills-bar .sb-container .sb-container-sub-3{
    width:80%;
}


/*service-container*/

.service-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    // border: 1px solid black;
    color: white;
    span{
        display: block;
        font-size: 2rem;
        padding: 1rem 0;
        padding-top: 2rem;
    }
}

.text-align{
    text-align: center;
}

.service-container h2{
    font-size: 1.5rem;
    padding: 1.2rem 0;
}

.service-container p{
    font-size: 1.2rem;
    line-height: 1.7;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
}

.service-container-item1{
    background-color: $tertiary;

}

.service-container-item2{
    background-color: $fourth;
}

.service-container-item3{
    background-color: black;
}


.service-container-item4{
    background-color: $secondary;
    color: grey;
}


/*experince-section*/

.es-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  //   border: 1px solid black;
}

.es-item1{
    img{
        width: 100%;
        height:50vh;
        object-fit: cover;       
    }
}

.es-item2{
    background-color: $fourth;
    padding-left: 2.5rem;
    padding-top: 2.5rem;
    color: rgb(247,225,188);
    small{
        color: black;
        font-weight: 600;
        font-size: 1rem;
    }
}

.es-item2 h2{
    font-size: 2.5rem;
    padding: 1rem 0;
}


.es-item2 span{
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-right: 1rem;
}

.justify-content{
    display: flex;
    justify-content: left;
}

.es-item2-box{
    padding-top: 3rem;
    h3{
        font-size: 1.3rem;
        line-height: 1.6;
    }
}



/*education-section*/




.education-section-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   //  border: 1px solid black;
     .education-item1{
         padding-left: 2rem;
         background-color: $tertiary;
         small{
             color: black;
             font-size: 1rem;
         }
     }
}

.education-item1{
    padding-left: 2.5rem;
    padding-top: 2.5rem;
    color: rgb(247,225,188);
    h2{
        font-size: 2.5rem;
        padding: 1rem 0;
    }
}

.education-item2{
    img{
        width: 100%;
        object-fit: cover;
        height: 50vh;

    }
}

.education-section-box{
    padding-top: 2rem;
    span{
        display: block;
        font-size: 1.5rem;
        padding: 1rem 0;
        margin-right: 1rem;
    }
}

.education-section-box h3{
    font-size: 1.3rem;
    line-height: 1.4;
}


/*contact-section*/

.contact-section-container{
    display: grid;
    grid-template-columns: 50% 25%  25%;
   //  border: 1px solid black;

     .contact-item1{
         background-color: $fourth;
         color: rgb(247,225,188);
         padding-left: 2rem;
         padding-right: 2rem;
         .form-container{
             width:100%;
             //border: 1px solid black;
             .form-control{
                 width: 100%;
                 background-color: $fourth;
                 border: none;
                 font-size: 1rem;                
                 color: whitesmoke;
                 margin-bottom: 1rem;
                 padding: 1rem 0;
                 padding-left: 1rem;
                 border-bottom: 1px solid rgb(247,225,188);
             }
         }

     }
}

.contact-item1 .form-control::placeholder { 
        color: white;
  };

  .contact-item1 .form-subject::placeholder {
      color: white;
  }

.contact-item1 h2{
    font-size: 2rem;
    padding-top:2rem;
    padding-bottom: 0.5rem;
}

.contact-item1 p{
     padding-bottom: 3rem;
     line-height: 1.5;
}

.contact-item1 .form-subject{
    width: 100%;
    background-color: $fourth;
    height:12rem;
    border: none;
    padding-left: 1rem;
    font-size: 1rem;
    border-bottom: 1px solid rgb(247,225,188);
}

.contact-item1 .btn{
    display: block;
    text-align: center;
    padding:0.6rem 6rem; 
    font-size: 1rem;
    border-radius: 1.4rem;
    border: none;
    margin-top: 1.5rem;
}


.contact-item2{
    img{
        width: 100%;
        object-fit: cover;
        height:80vh;
    }
}

.contact-item3{
    background-color: black;
    color:grey;
    padding-left: 2rem;
    padding-top: 2rem;
       h3{
           font-size: 1.5rem;
           padding: 1rem 0;
       }

}

.contact-item3 h4{
    font-size: 1.3rem;
    padding: 1rem 0;
}

.contact-item3  p{
     font-size: 1.1rem;
     padding-right: 4rem;
     line-height: 1.2;
     padding-bottom: 3rem;
}

.contact-item3 span{
    display: inline-block;
    font-size: 1rem;
    margin-right: 1rem;
    padding-bottom: 2rem;
    color: grey;
}

.contact-item3 a{
    text-decoration: none;
    color: $tertiary;
}


/*map-section*/

.map-section{
    background-color: $fourth;
    padding: 2.5rem;
    .map-container{
        text-align: center;
        width: 70%;
        margin: 0 auto;
        iframe{
            width: 100%;
            height: 50vh;        
        }
    }

}

.footer{
    padding: 5rem 0;
    p{
        color: grey;
        padding-bottom: 3rem;
        strong{
            color: $primary;
        }
    }
}

.footer-item{
    display: flex;
    justify-content: center;
     a{
         text-decoration: none;
         color: grey;
         margin-right: 2rem;
     }
}

 @media screen and (max-width:360px){

    html{
        font-size: 10px;
    }

    .sm-header h1{
        margin-top: -1rem;
        margin-left: -5rem;
    }

    .nav-bar{
        display: none;
        position:absolute;
        bottom: 0;
        top: 5rem;
    }
   
    #toggle:checked ~ .nav-bar{
        display: block;
    }

    .sm-flex{
        display: block;
        background-color: rgba(121, 100, 100,0.7);
        padding-left: 13rem ;
        padding-right: 10rem;
        padding-top: 3rem;
        padding-bottom: 30rem;
        text-align: center;
    }

    .nav-bar li{
        margin-top: 30px;
         a{
             color: white;
             font-size: 2rem;
         }
    }


    

    .bars{
        display: inline-block;
        font-size: 28px;
        margin-right: 2rem;
        margin-top: -1rem;
        color: $fourth;
    }

/*sm-hero-section*/

.hero-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}


.hero-item-1{
    margin-top: 5rem;
    img{       
        height: auto;
    }
}


.hero-item-2{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/*sm-skills-section*/


.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fill , 100%)
    
}

.skills-item1{
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.skills-item2 {
    width: 100%;
    background-image: url(../media/about-img.jpg);
    background-size:cover;
}

.skills-item3{
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}



/*sm-service-container*/

.service-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);   
}


/*sm-experince-section*/

.es-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}


.es-item1{
    img{
        height:auto;     
    }
}


.es-item2{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/*sm-education-section*/

.education-section-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.education-item1{
    padding-top: 1rem;
    padding-bottom: 2rem;
}


.education-item2{
    img{
        height: auto;
    }
}

/*sm-conatct-sectin*/

.contact-section-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
}

.contact-item2{
    img{
        height:auto;
    }
}

.contact-item1{
    padding-bottom: 2rem;
}

.contact-item1 textarea{
    height:100px;
}


/*sm-map-section*/

.map-section{
    padding:1.5rem 0;
    .map-container{
        width: 100%;
        iframe{
            width: 100%;
            height: auto;      
        }
    }
}


 }  
    
